Hey David! This is my attempt at the assignment. I did face a few roadblocks on the way which I'm going to be explaining through these markdown cells, hope that's okay! I'll also make personal notes so I can come back and learn from this assignment. I started out with the work we had started in class.

In [18]:
import pandas as pd

### Dictionary

In [19]:
my_data = {'a':[1,2,3],
          'b':['mushrooms', 'bellpeppers', 'broccolli']}
my_df = pd.DataFrame(my_data)
my_df.head()

   a            b
0  1    mushrooms
1  2  bellpeppers
2  3    broccolli

Note for self: head() - first 5 rows until number specified in ()

### List

In [20]:
my_data2 = [{'a':1, 'b':'mushrooms'},
            {'a':2, 'b':'bellpeppers'},
            {'a':3, 'b':'broccoli'}]
my_df2 = pd.DataFrame(my_data2)
my_df2

   a            b
0  1    mushrooms
1  2  bellpeppers
2  3     broccoli

### First Row

I'm trying multiple ways to get the first row here

Attempt 1

In [21]:
my_df2.head(1)

   a          b
0  1  mushrooms

Attempt 2

In [22]:
my_df.iloc[0]

a            1
b    mushrooms
Name: 0, dtype: object

Or

In [23]:
my_df.loc[0]

a            1
b    mushrooms
Name: 0, dtype: object

### First Column

In [24]:
my_df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [25]:
my_df['b']

0      mushrooms
1    bellpeppers
2      broccolli
Name: b, dtype: object

### Index

In [26]:
my_df.index

RangeIndex(start=0, stop=3, step=1)

This is me trying to find any way to convert to cvs. I'm not sure what's going on here but I found this information here - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv

In [27]:
my_df.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)

',a,b\n0,1,mushrooms\n1,2,bellpeppers\n2,3,broccolli\n'

## Murray Texts (Chapter 1)

### What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?

As Murray explained, while it took a long time for people to map data and come to conclusive results, that only takes a faction of the time now that we have the help of coputers. Not only can we come to conclusions after, we can make alterations in the code to see how different factors would change the outcome. This helps in a more detailed analysis of the subject.

### Why are dynamic, interactive data visualizations useful when communicating data?

Static data can be boring or even overbearing to an audience that just wants to get done with the analysis. Since humans are always interested in interactive activities because it gives their minds to get involved, they find interactive visualization more engaging. A lot of information can be placed within dynamic data without it looking cluttered. This can make people feel accomplished when they drill deep and find new perspectives.

### Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.

I agree. First of all, knowledge and tools area always more popular with the audience when free of cost - hence they'll always be the dominant tools. I'm not sure what kind of features are provided by the proprietary softwares, and if they're superior in any sense, but if they are, then I believe an invest couldn't hurt. But as I learnt in class, it seems that the open sources are extremely flexible and provide decent output, so why not go for them?